.bg-primary {
  background-color: #8338EC !important;
}

.nav-link-white {
  color: white !important;
}


.book img {
  height: 200px;
  width: 200px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.card-img-top {
  width: 150px !important;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.card {
  width: 250px !important;
  
}

.card-title {
  font-size: 12px;
}

.card-text {
  font-size: 12px;
}

body {
  background-image: url("/assets/img/backgroung_livros.jpg");
  background-color: #cccccc;
  margin: 0;
}

.custom-footer {
  padding-top: 1px; /* Ajuste conforme necessário */
  padding-bottom: 1px; /* Ajuste conforme necessário */
  /* Ou ajuste a altura diretamente */
  /* height: 50px; */
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}
.form-row div {
  margin: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
  white-space: nowrap; 

}
th {
  background-color: #4CAF50;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}






nav {
  height: 50px; /* Altura do menu */
  width: 100vw; /* Garanta que o menu ocupe toda a largura */
  background-color: #f0f0f0;
  padding: 0; /* Remova o preenchimento padrão */
  margin: 0; /* Remova as margens para garantir que o menu ocupe toda a largura */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
}